html    {
    background-color: #2D132C;
    color: #EE4540;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;;}
    
h1,h2,h3,h4,h5,h6 {color:#e5ff00;}

#WIP    {
    text-align: center;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.692);
    position: fixed;
    width: 100%;
}
.page-container {
    padding-top: 70px; /*DOČASNÝ KVŮLI WIP BARU PŘI LOADU ABY NEZAKRÝVAL PFP*/
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 2fr 0.5fr;
    gap: 30px 0px; 
    grid-auto-flow: row;
    grid-template-areas:
        ". name ."
        ". about-me ."
        ". skills ."
        ". my-projects ."
        ". get-in-touch .";}

.name {
    grid-area: name;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;}

.name h1 {
    font-size: 40px;
    font-weight: 1000;
    text-transform: uppercase;}

.name h2 {color:#EE4540;}
.name h3 {color:#801336;}

.profile-pic {
    float: left;}

.about-me {
    grid-area: about-me;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: larger;
    text-align: justify;}


.about-me h2 {
    text-align: center;
    text-transform: uppercase;}

.skills {
    grid-area: skills;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    font-size: larger;}

.dev-skills > label, .other-skills > label {
    margin-bottom: 5px;
    margin-top: 15px;}

.skills h3 {
    text-transform: uppercase;}

progress {
    border-radius: 10px;}
  
  progress::-webkit-progress-bar {
    background-color: #801336;
    border-radius: 10px;}
  
  progress::-webkit-progress-value {
    background-color: #e5ff00;
    border-radius: 10px;}
  
  progress::-moz-progress-bar {
    background-color: #78fff8;
    border-radius: 10px;}

.dev-skills {
    display: grid;
    justify-items: center;
    align-content:center ;}

.other-skills {
    display: grid;
    justify-items: center;
    align-content:center ;}

    .my-projects {
        grid-area: my-projects;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: flex-start; 
        gap: 20px; 
        width: 100%; 
    }
    
    .project {
        width: 300px; 
        display: flex;
        flex-direction: column; 
        flex-grow: 0; 
        flex-shrink: 0;
        align-self: auto;
        order: 0;
        text-align: center;
    }
.project img {
    width: 300px;}
 
.get-in-touch {
    display: inline-flex;
    grid-area: get-in-touch;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;}
